.about-page__body {
  margin-top: 15vh;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
  justify-content: space-around;
}
.about-page__card {
  width: auto;
  height: 60vh;
  margin-bottom: 5vh;
}
